include README.rst
include LICENSE.html
include TODO.md
include VERSIONS.md
include PyAuth.desktop
recursive-include images *.png *.ico

# The following are needed only in sdists
include images/genicons.sh
include images/PyAuth.xcf
