[Desktop Entry]
Version=1.0
Type=Application
Name={program_name}
Comment=Google Authenticator (TOTP) desktop client
Exec=/usr/local/bin/{program_name} -m
Icon=/usr/local/share/icons/hicolor/512x512/apps/PyAuth.png
Path=
Terminal=false
StartupNotify=false
