[Desktop Entry]
Version=1.0
Type=Application
Name=PyAuth
Comment=Google Authenticator (TOTP) desktop client
Exec=$(SCRIPTDIR)/PyAuth -m
Icon=${DATADIR}/share/icons/hicolor/512x512/PyAuth.png
Path=
Terminal=false
StartupNotify=false
